<div class="container">

    <ul class="breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/seasons/">Seasons</a></li>
    </ul>
    <div class="tables">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-pilots">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Pos. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Driver.givenName}} {{element.Driver.familyName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef> Points </th>
                <td mat-cell *matCellDef="let element"> {{element.points}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 table-constructor" *ngIf="id > '1957'">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Pos. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Constructor.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef> Points </th>
                <td mat-cell *matCellDef="let element"> {{element.points}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div *ngIf="scheudle != undefined">
        <h2>Schedule Season {{scheudle[0].season}}</h2>
        <mat-list role="list">
            <ng-template ngFor let-item [ngForOf]="scheudle" let-i="index">
                <mat-list-item role="listitem">{{i+1}}. {{scheudle![i].Circuit.circuitName}},
                    {{scheudle![i].Circuit.Location.country}}</mat-list-item>
                <mat-divider *ngIf="i+1 < scheudle!.length"></mat-divider>
            </ng-template>
        </mat-list>
    </div>


</div>