<div class="container">
    <mat-form-field>
        <mat-label>Constructor</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search Constructor" #input>
        <mat-icon matSuffix>search_icon</mat-icon>
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nationality">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nationality </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.nationality}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="moreInfo">
            <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> <a mat-raised-button
                    routerLink="/constructors/{{element.constructorId}}">More info</a> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[15,30,45]" showFirstLastButtons aria-label="Select page of constructor"></mat-paginator>

</div>